{$HOST} {
  handle_path /api/* {
    reverse_proxy api:8080
  }

  handle /assets/* {
    reverse_proxy webapp:80
  }
  handle {
    rewrite * /index.html
    reverse_proxy webapp:80
  }
}

# vim: tabstop=2 shiftwidth=2 expandtab
