.tapButton {
  position: relative;
  user-select: none;
}

.tapButton > span {
  position: relative;
}

.tapButton:disabled:before {
  animation-duration: 0.5s;
  animation-name: tapButtonAnimation;
}

.tapButton:before {
  display: block;
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(5, 150, 105);
}

.tapButton:not(.hasTapsRemaining):before {
  display: none;
}

@keyframes tapButtonAnimation {
  from {
    transform: translateX(-50%) scaleX(0);
  }

  to {
    transform: translateX(0%) scaleX(1);
  }
}
