:root {
  --tilesX: 5;
  --tilesY: 5;
  --tileSize: calc(75vw / (1.414 * var(--tilesX)));
  --scale: 85vw;
  --arrowSize: 40px;
  --arrowOffset: 20px;
  --arrowPadding: 10px;
  --translateOffset: 0;
}

@media (min-width: 640px) {
  :root {
    --scale: min(75vw, 1600px);
    --arrowSize: 50px;
    --arrowOffset: 50px;
  }
}

@media (min-width: 1600px) {
  :root {
    --translateOffset: -50px;
  }
}

.size-4 {
  --tilesX: 4;
  --tilesY: 4;
  --tileSize: calc(var(--scale) / (1.414 * var(--tilesX)));
}

.size-5 {
  --tilesX: 5;
  --tilesY: 5;
  --tileSize: calc(var(--scale) / (1.414 * var(--tilesX)));
}

.size-6 {
  --tilesX: 6;
  --tilesY: 6;
  --tileSize: calc(var(--scale) / (1.414 * var(--tilesX)));
}

.size-7 {
  --tilesX: 7;
  --tilesY: 7;
  --tileSize: calc(var(--scale) / (1.414 * var(--tilesX)));
}

.size-8 {
  --tilesX: 8;
  --tilesY: 8;
  --tileSize: calc(var(--scale) / (1.414 * var(--tilesX)));
}

.size-9 {
  --tilesX: 9;
  --tilesY: 9;
  --tileSize: calc(var(--scale) / (1.414 * var(--tilesX)));
}

.size-10 {
  --tilesX: 10;
  --tilesY: 10;
  --tileSize: calc(var(--scale) / (1.414 * var(--tilesX)));
}

.size-11 {
  --tilesX: 11;
  --tilesY: 11;
  --tileSize: calc(var(--scale) / (1.414 * var(--tilesX)));
}

.size-12 {
  --tilesX: 12;
  --tilesY: 12;
  --tileSize: calc(var(--scale) / (1.414 * var(--tilesX)));
}

.root {
  transform: rotateX(60deg) rotateZ(45deg) translate(var(--translateOffset), var(--translateOffset));
  transform-style: preserve-3d;

  width: calc(var(--tilesX) * var(--tileSize));
  height: calc(var(--tilesY) * var(--tileSize));
}

.row {
  display: flex;
}

.tile {
  width: var(--tileSize);
  height: var(--tileSize);
  background: #fff;
  border: 1px solid #d9f99d;
}

.town {
  cursor: pointer;
}

.grass {
  background: #bef264;
}
.grass:hover {
  background: #a3e635;
}

.arrow {
  padding: var(--arrowPadding);
  position: absolute;
  cursor: pointer;
}

.arrow:before {
  display: block;
  content: "";
  background: #059669;
  width: var(--arrowSize);
  height: var(--arrowSize);
  clip-path: polygon(50% 0, 100% 100%, 0 100%);
}

.arrow:hover:before {
  background: #34d399;
}

.arrowleft {
  left: calc(-1 * var(--arrowSize) - 2 * var(--arrowPadding));
  top: 50%;
  transform: translateY(-50%) translateX(calc(-1 * var(--arrowSize))) rotateZ(-90deg);
}

.arrowright {
  left: 100%;
  top: 50%;
  transform: translateY(-50%) translateX(calc(1 * var(--arrowSize))) rotateZ(90deg);
}

.arrowtop {
  left: 50%;
  top: calc(0% - var(--arrowSize) - 2 * var(--arrowPadding));
  transform: translateY(calc(-1 * var(--arrowSize))) translateX(-50%) rotateZ(0deg);
}

.arrowbottom {
  left: 50%;
  top: 100%;
  transform: translateY(calc(1 * var(--arrowSize))) translateX(-50%) rotateZ(180deg);
}
